@font-face {
    font-family: "Alice", serif ;
    font-family: "Rubik", sans-serif ;
    src: url(https://fonts.googleapis.com/css2?family=Alice&family=Merriweather:ital,wght@0,300;1,300&display=swap);
}

body{
    margin: 0;
    font-size: 10px;
    background-image: url(images/cityscape-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#main-header{
   border-top: 3px solid rgb(51, 132, 207);
   border-bottom: 3px solid rgb(51, 132, 207);
   height: 15vh;
   width:100%;
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgba(245, 245, 245, 50%);
   font-family: "Merriweather", sans-serif;
}

h1{
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 1rem;
    font-family: "Merriweather", sans-serif;
}

.content {
    font-family: "Alice", serif;
}

#main-title {
    font-size: 1em;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height:500px;
    background-color: rgba(245, 245, 245, 75%);
}

.ul-list {
    text-align: center;
    position: fixed;
    
}

.nav {
    display: flex;
    /* justify-content: flex-end; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%;  */
    z-index: 3;
    flex-direction: column;
    gap: 5px;
    margin: .5rem;
    
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }

nav li:hover{
    background-color: rgb(51, 132, 207);
    color: whitesmoke;
}

  nav li {
    height:30px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid rgb(51, 132, 207);
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: underline;
    color: rgb(51, 132, 207);
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

p, li{
    font-family: "Alice", serif;
}

li{
    list-style-type:square;
}

footer {
    text-align: center;
    background-color: rgba(245, 245, 245, 50%);
    font-size: 1rem;
    
}

.quote::before {
    content: '" ';
}

.quote::after {
    content: ' "'
}

@media screen and (min-width: 780px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}
@media screen and (min-width: 400px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
    main {
        position: static;
    }
  
}