@font-face {
    font-family: "Alice", serif ;
    font-family: "Rubik", sans-serif ;
    src: url(https://fonts.googleapis.com/css2?family=Alice&family=Rubik&display=swap);
}

body{
    margin: 0;
    font-size: 10px;
    background-image: url(images/cityscape-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Alice", serif;

}

#main-header{
   border-top: 3px solid rgb(51, 132, 207);
   border-bottom: 3px solid rgb(51, 132, 207);
   height: 15vh;
   width:100%;
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgba(245, 245, 245, 50%);
   font-family: "Rubik", sans-serif;
}

.heading{
    text-align: center;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
}

.content {
    font-family: "Alice", serif;
    font-size: .8rem;
    padding-left: 20px;
}

#main-title {
    font-size: 1em;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 500px;;

    background-color: rgba(245, 245, 245, 75%); 
    
}

.ul-list {
    text-align: center;
    position: relative;
    font-family: "Alice", serif;
}

.nav {
    display: flex;
    /* justify-content: flex-end; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%;  */
    z-index: 3;
    flex-direction: column;
    gap: 5px;
    margin: .5rem;
    flex-wrap: wrap;
     justify-self: center;
    align-self: center;
  }

  .nav-list {
    display: flex;
    margin-right: 2rem;
    
  }

nav li:hover{
    background-color: rgb(51, 132, 207);
    color: whitesmoke;
   
   
}

  nav li {
    height:60px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid rgb(51, 132, 207);
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    margin: 0;
    list-style-type: none;
    font-size: 1rem;
}
a {
    text-decoration: underline;
    color: rgb(51, 132, 207);
    font-size: .8rem;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(51, 132, 207);
}

p, li{
    font-family: "Alice", serif;
    
}

li{
    list-style-type:square;
    
}

footer {
    text-align: center;
    background-color: rgba(245, 245, 245, 50%);
    font-size: 1.2rem;
    font-family: "Alice", serif;
    
}

.quote::before {
    content: '" ';
}

.quote::after {
    content: ' "'
}

@media screen and (max-width: 767px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    main {
        grid-template-columns: minmax(0, 1fr);
        font-family: "Alice", serif;
    }
    footer {
        display: grid;

    }
    p, li {
        font-family: "Alice", serif;
    }
}
@media screen and (max-width: 424px) {

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    main {
        grid-template-columns: minmax(0, 1fr);
        font-family: "Alice", serif;
    }
        p, li {
            font-family: "Alice", serif;
        }

    
    footer {
        display: grid; 
    }
}